.portfolio-hero {
  background:linear-gradient(to bottom, #111, #006666);
  color: white;
  text-align: center;
  padding: 60px 20px;
}

.portfolio-hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.portfolio-hero p {
  font-size: 18px;
  max-width: 700px;
  margin: auto;
}

.portfolio-section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
  background-color: #f9f9f9;
}

.project-card {
  background: white;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

.project-card img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
  height: auto;
  flex: 1 1 300px;
}

.project-info {
  flex: 1 1 300px;
  padding: 20px;
}

.project-info h2 {
  font-size: 22px;
  color: #0aa;
  margin-bottom: 10px;
  margin-top: 20px;
}

.project-info p {
  font-size: 15px;
  margin-bottom: 8px;
  color: #333;
}

/* Responsive */
@media (max-width: 768px) {
  .project-card {
    flex-direction: column;
  }

  .project-info {
    padding: 15px;
  }

  .portfolio-hero h1 {
    font-size: 28px;
  }

  .portfolio-hero p {
    font-size: 16px;
  }
}
